<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templates/fireLeftMenuTemplate.xhtml">

            <ui:define name="left">
                <p:menu>
                    <p:submenu label="Course settings">
                        
                    </p:submenu>
                    <p:submenu label="Lab setting">
                        
                    </p:submenu>
                    <p:submenu label="Grader settings">
                        
                    </p:submenu>
                    
                    <p:submenu label="Assignment settings" >
                        <p:menuitem value="Create Assignment " outcome="#{navigation.navigateTo('createAssignment')}" icon="ui-icon-lightbulb"/>         
                    </p:submenu>

                </p:menu>
            </ui:define>

            <ui:define name="content">
                content
            </ui:define>

        </ui:composition>

    </body>
</html>
