<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <f:metadata>
        <f:viewParam name="assignId" value="#{assignBean.assignId}"
                     valueChangeListener="#{assignBean.viewParamChanged}" />
    </f:metadata>

    <h:body>
        <ui:composition template="./templates/fireTemplate.xhtml">
            <ui:define name="content">

                <!--    <p:log/>-->
                <p:growl sticky="true" autoUpdate="true"/>

                <p:panel header="Assignment: #{assignBean.assign.title}">

                    <br/>
                    <h:link value="Make a submission for this assignmet" outcome="submission" includeViewParams="true">
                        <f:param name="assignId" value="#{assignBean.assignId}" />
                    </h:link>
                    <br/>
                    <br/>

                    <!--  Assignment info -->
                    <h:panelGrid columns="2">

                        <h:outputLabel value="Overall status:"/>
                        <h:outputText value="#{assignBean.assignmentStatus}"/>

                        <h:outputLabel value="First deadline:"/>
                        <h:outputText value="#{assignBean.assign.firstDeadline}"/>

                        <h:outputLabel value="Last deadline:"/>
                        <h:outputText value="#{assignBean.assign.finalDeadline}"/>

                        <h:outputLabel value="Description:"/>
                        <h:outputText value="#{assignBean.assign.information}"/>

                    </h:panelGrid>
                    <br/>

                    <!-- Group info -->
                    <p:panel header="Group" styleClass="light">

                        <h:panelGrid columns="2">

                            <h:outputLabel value="Number:" />
                            <h:outputText value="#{assignBean.group.id}" />

                        </h:panelGrid>

                        <p:dataList value="#{assignBean.group.groupMembers}" var="user" type="definition">

                            <h:outputText value="#{user.fullName}  (" />
                            <h:outputLink value="mailto:#{user.email}">
                                <h:outputText value="#{user.email}" />
                            </h:outputLink>
                            <h:outputText value=")" />

                        </p:dataList>
                    </p:panel>
                    <br/>

                    <!-- Submissions, inluding files -->
                    <p:panel header="Submissions" styleClass="light" id="subsPanel">

                        <h:outputText value="No submissions made" rendered="#{empty assignBean.submissions}"/>


                        <h:form>

                            <p:accordionPanel value="#{assignBean.submissions}" var="sub"
                                              id="accPanel"
                                              activeIndex="#{assignBean.activeSubPanels}"
                                              multiple="true">
                                <p:tab title="Submission #{sub.submitTime} - #{sub.submissionStatus}">

                                    <!-- Data fields -->
                                    <p:panelGrid columns="2" style="border-style: none">
                                        
                                        <h:outputLabel value="Status:" />
                                        <h:outputText value="#{sub.submissionStatus}" />
                                        <h:outputLabel value="Submit time:" />
                                        <h:outputText value="#{sub.submitTime}" />
                                        
                                    </p:panelGrid>

                                    <!-- Files -->
                                    <p:panel header="Files" styleClass="light">
                                        
                                        <p:dataList var="file" value="#{sub.files}" type="definition">
                                            <p:commandLink value="#{file.fileName}"
                                                           ajax="false" process="@this">
                                                <p:fileDownload value="#{assignBean.download(file)}" />
                                            </p:commandLink>
                                        </p:dataList>
                                        
                                    </p:panel>

                                    <p:commandLink value="Download all files"
                                                   disabled="#{empty sub.files}"
                                                   ajax="false" process="@this">
                                        <p:fileDownload value="#{assignBean.downloadAll(sub)}" />
                                    </p:commandLink>

                                    <!-- Comments -->
                                    <p:panel header="Comments" styleClass="light" id="comPanel">

                                        <!-- Comments list -->
                                        <h:outputText value="No commentes" rendered="#{empty sub.comments}" /><br/>

                                        <p:dataList id="comData" value="#{sub.comments}" var="com" type="definition" style="border-style: none">
                                            
                                            <h:outputText value="#{com.sender.fullName}, #{com.created}:" /><br/>
                                            <p:inputTextarea value="#{com.comment}" readonly="true" /><br/>
                                            
                                        </p:dataList>
                                        <br/>

                                        <!-- New comment -->
                                        <h:outputText value="New comment:" /><br/>
                                        <p:inputTextarea id="newCom"
                                                         value="#{assignBean.newCommentMap[sub.id]}"/>
                                        <br/>
                                        <br/>

                                        <p:commandButton
                                            process="comPanel"
                                            update="comData,newCom"
                                            value="Submit"
                                            action="#{assignBean.submitComment(sub)}" />
                                        
                                    </p:panel>

                                </p:tab>
                                
                            </p:accordionPanel>
                            
                        </h:form>

                    </p:panel>
                    
                </p:panel>

            </ui:define>
            
        </ui:composition>
        
    </h:body>
    
</html>

