<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">

                    <p:panel header="Assignments" styleClass="light2" >
                        <h:form>
                            <p:dataTable var="assign" value="#{assignListBean.assignments}" >
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Title"/>
                                    </f:facet>
                                    <h:link value="#{assign.title}"
                                            outcome="assignment"
                                            includeViewParams="true">
                                        <!-- User view params to send ID to outcome page -->
                                        <f:param name="assignId" value="#{assign.id}"/>
                                    </h:link>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText  value="Description"/>
                                    </f:facet>
                                    <h:outputText value="#{assign.information}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText  value="Status"/>
                                    </f:facet>
                                    <h:outputText value="#{assignListBean.getStatus(assign.id)}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText  value="Next deadline"/>
                                    </f:facet>
                                    <h:outputText value="#{assign.nextDeadline}"/>
                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </p:panel>
                    
                </ui:define>

        </ui:composition>
    </h:body>
</html>

