<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view>
        <f:event type="preRenderView" listener="#{confirmRegistrationBean.doFinishRegistration()}"/>
    </f:view>

    <h:head>
        <title>Fire - Registration</title>
    </h:head>

    <h:body>
        <h:form>
            <p:panel>
                <p:messages autoUpdate="true"/>
            </p:panel>
        </h:form>
    </h:body>
</html>
