<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">

                <p:growl id="growl" showDetail="true" life="5000" />

                <h:form>

                    <p:panel header="Contact us">

                        <h:panelGrid columns="2" cellpadding="5" id="contactGrid">

                        </h:panelGrid>

                        <p:panel styleClass="light">

                            <div style="margin: 0px 20px 20px 20px;">
                                Whats on your mind?
                            </div>

                            <div style="margin: 20px 20px 20px 20px">
                                <p:inputTextarea id="message" 
                                                 value="#{contactBean.message}" 
                                                 rows="20" 
                                                 cols="32" 
                                                 autoResize="false"/>
                            </div>

                        </p:panel>
                        
                         <p:commandButton id="sendButton" 
                                     value="send" 
                                     action="#{contactBean.doSend()}"
                                     update=":growl"/>

                    </p:panel>

                   

                </h:form>

            </ui:define>

        </ui:composition>

    </h:body>

</html>
