<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:shiro="http://shiro.apache.org/tags"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Fire - New Assignment</title>
    </h:head>
    <h:body>
        
        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">

                <h:form>
                    
                    <p:panel>
                        
                        <h:panelGrid columns="3" id="assgnGrid">
                            
                            <h:outputText value="Title:" />
                            <p:inputText id="title" value="#{createAssignmentBean.title}" required="true"/>
                            <p:message id="titleError" for="title" display="text" />
                            
                            <h:outputText value="Information:" />
                            <p:inputText id="info" value="#{createAssignmentBean.information}" />
                            <p:message id="infoError" for="info" display="text" />
                           
                            <h:outputText value="Preliminary deadline:" />
                            <p:calendar value="#{createAssignmentBean.firstDeadline}" id="popupCal1" pattern="dd.MM.yyyy" /><br/>

                            <h:outputText value="Final deadline:" />
                            <p:calendar value="#{createAssignmentBean.finalDeadline}" id="popupCal2" pattern="dd.MM.yyyy" />
                        
                        </h:panelGrid>
                        
                        <p:commandButton id="submitBtn" value="Submit" update="assgnGrid" actionListener="#{createAssignmentBean.createAssignment()}"/>
                       
                        <p:messages id="errMsg" autoUpdate="true"/>
                  
                    </p:panel>
               
                </h:form> 

            </ui:define>

        </ui:composition>
    
    </h:body>
    
</html>