<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./templates/fireLeftMenuTemplate.xhtml">

            <ui:define name="left">
                <h:form>
                    <p:menu model="#{gradingBean.courseMenu}"/>
                </h:form>
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:accordionPanel value="#{gradingBean.populateAccordion()}" var="submission">
                        <p:tab title="#{submission.submittingGroup}"/>
                        <p:commandButton value="Accept" action="#}" />
                    </p:accordionPanel>         
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
