<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:s="http://shiro.apache.org/tags"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Fire - Logged out</title>
    </h:head>
    <h:body>
        <ui:composition template="./templates/fireTemplate.xhtml">
        <p:panel>
            <h:outputText value="Logged out successfully" /><br/><br/>
            <h:link value="Log back in" outcome="login" />
        </p:panel>
        </ui:composition>
    </h:body>
</html>
