<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Fire - Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/default.css" rel="stylesheet" type="text/css" />
        <link href="css/cssLayout.css" rel="stylesheet" type="text/css" />
    </h:head>

    <h:body>
        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">
                <p:growl id="growl" showDetail="true" life="5000" />

                <!-- The actual login form -->
                <h:form>
                 
                        <p:panel header="Fire - Log in">
                            <h:panelGrid columns="2" cellpadding="5" id="loginGrid">

                                <p:outputLabel for="email" value="E-mail:" />
                                <p:inputText id="email" label="email"
                                             value="#{loginBean.userEmail}"/>

                                <p:outputLabel for="password" value="Password:" />
                                <p:password id="password" label="password" 
                                            value="#{loginBean.userPassword}"/>

                                <p:panel styleClass="light">
                                    <h:selectBooleanCheckbox  id="rememberMe" label="remember me"
                                                              value="#{loginBean.rememberMe}"/>

                                    <p:outputLabel for="rememberMe" value="Remember me" />
                                </p:panel>

                                <p:commandButton id="loginBtn" value="Login" update=":growl"
                                                 action="#{loginBean.doLogin()}"/>

                                <h:outputLink id="recoverPasswordLink" value="javascript:void(0)" onclick="recover.show()" title="recover">
                                    Forgot your password?
                                </h:outputLink>
                                
                                <h:link value="Don't have an account? Register here" outcome="registration"/>
                            </h:panelGrid>
                        </p:panel>
                   
                </h:form>

                <br/>
                Test 2
                <br/>
                <h:form>
                    <p:commandButton
                        value="Populate DB and login as a@a.com and go to assignmens"
                        actionListener="#{testBean.populateAndLogin(0)}"
                        action="#{navigation.navigateTo('assignmentList')}"/>
                </h:form>


                <!-- Dialog which lets the user request a copy of his/her password -->
                <p:dialog id="recoverPasswordDialog" header="Recover password" widgetVar="recover">
                    
                    <h:form>
                        
                        <h:outputText value="Please enter your email address, and your password will be sent to you."/>
                        <h:panelGrid columns="2" cellpadding="5">
                            
                            <h:outputLabel for="email" value="E-mail:"/>
                            <h:inputText id="email" label="email" value="#{beginPasswordResetBean.userEmail}"/>
                            
                            <p:commandButton id="recoverButton" value="Submit" update=":growl"
                                             action="#{beginPasswordResetBean.beginPasswordReset()}"/>
                        </h:panelGrid>
                        
                    </h:form>
                    
                </p:dialog>
                
            </ui:define>
            
        </ui:composition>
        
    </h:body>
    
</html>
