<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:shiro="http://shiro.apache.org/tags"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Fire - Registration</title>
    </h:head>

    <h:body>

        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">

                <h:form>

                    <p:panel>

                        <h:panelGrid columns="3" id="registerGrid">

                            <h:outputText value="Personal number:" />
                            <p:inputText id="persnum" value="#{beginRegistrationBean.personNummer}" required="true"/>
                            <p:message id="personNummerError" for="persnum" display="text" />

                            <h:outputText value="First name:" />
                            <p:inputText id="fname" value="#{beginRegistrationBean.fname}" />
                            <p:message id="fnameError" for="fname" display="text" />

                            <h:outputText value="Last name:" />
                            <p:inputText id="lname" value="#{beginRegistrationBean.lname}" />
                            <p:message id="lnameError" for="lname" display="text" />

                            <h:outputText value="E-mail address:" />
                            <p:inputText id="email" value="#{beginRegistrationBean.email}"/>
                            <p:message id="emailError" for="email" display="text" />

                            <h:outputText value="Password" />
                            <p:password id="password" value="#{beginRegistrationBean.password}" feedback="true" />
                            <p:message id="passwordError" for="password" display="text" />

                        </h:panelGrid>

                        <p:commandButton id="submitBtn2" value="request registration" update="registerGrid" action="#{beginRegistrationBean.doStartRegistration()}"/>
                        <p:messages id="errMsg" autoUpdate="true"/>

                    </p:panel>

                </h:form> 


                <shiro:hasRole name="ADMIN">

                    <h1>The following users are currently registered:</h1>
                    <h:dataTable var="p" value="#{listUsers.all}">   

                        <h:column>

                            <f:facet name="header">
                                <h:outputText  value="User ID"/>
                            </f:facet>
                            <h:outputText value="#{p.id}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="First name"/> 
                            </f:facet>
                            <h:outputText value="#{p.fname}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Last name"/>
                            </f:facet>
                            <h:outputText value="#{p.lname}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Email"/>
                            </f:facet>
                            <h:outputText value="#{p.email}"/>
                        </h:column>

                    </h:dataTable>

                </shiro:hasRole>

            </ui:define>

        </ui:composition>

    </h:body>

</html>

