<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Fire - Registration</title>
    </h:head>

    <h:body>
        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">
                
                <p:growl id="growl" showDetail="true" life="5000" />

                <h:form>

                    <p:panel header="Select your new password">

                        <h:panelGrid columns="2" cellpadding="5" id="resetPasswordGrid">

                            <p:outputLabel for="newPassword" value="Type your new password"/>
                            <p:password id="newPassword" 
                                        value="#{confirmPasswordResetBean.firstPassword}"
                                         feedback="true"/>

                            <p:outputLabel for="retypedPassword" value="Retype your password"/>
                            <p:password id="retypedPassword" 
                                        value="#{confirmPasswordResetBean.secondPassword}"/>

                        </h:panelGrid>

                        <p:commandButton id="confirmButton" 
                                     value="send" 
                                     action="#{confirmPasswordResetBean.doResetPassword()}"
                                     update=":growl">
                            <f:param name="sessionKey" value="#{param.sessionKey}"/>
                        </p:commandButton>

                    </p:panel>       

                </h:form>

            </ui:define>

        </ui:composition>
    </h:body>
</html>

