<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./templates/fireTemplate.xhtml">

            <ui:define name="content">

                <p:growl id="growl" showDetail="true" life="5000" />

                <h:form>

                    <p:panel header="Account overview">

                        <p:panel styleClass="light">

                            <!-- Personal details -->
                            <h:outputText value="Personal details" styleClass="light_header"/>

                            <h:panelGrid columns="1" styleClass="light_text">
                                <h:outputText value="Name: #{settingsBean.fullName}"/>
                                <h:outputText value="Personal number: #{settingsBean.personalNumber}"/>
                            </h:panelGrid>

                            <!-- Password Settings -->
                            <h:outputText value="Password settings" styleClass="light_header"/>

                                <h:panelGrid columns="1" styleClass="light_text">

                                    <p:commandLink id="passwordOverlayRenderer" value="reset password"/>

                                    <!-- Overlay panel for showing the password reset stuff-->
                                    <p:overlayPanel id="carPanel" for="passwordOverlayRenderer" hideEffect="fade" showEffect="fade" dynamic="true">  

                                        <p:panel header="Select your new password">

                                            <h:panelGrid columns="2" cellpadding="5" id="resetPasswordGrid">

                                                <p:outputLabel for="newPassword" value="Type your new password"/>
                                                <p:password id="newPassword" 
                                                            value="#{seetingsResetPasswordBean.firstPassword}"
                                                            feedback="true"/>

                                                <p:outputLabel for="retypedPassword" value="Retype your password"/>
                                                <p:password id="retypedPassword" 
                                                            value="#{seetingsResetPasswordBean.secondPassword}"/>

                                            </h:panelGrid>

                                            <p:commandButton id="confirmButton" 
                                                             value="reset password" 
                                                             action="#{seetingsResetPasswordBean.doResetPassword()}"
                                                             update=":growl"/>

                                        </p:panel> 

                                    </p:overlayPanel>  

                                </h:panelGrid>

                            <!-- Email settings -->
                            <h:outputText value="Email settings" styleClass="light_header"/>

                            <h:panelGrid columns="1" styleClass="light_text">

                            </h:panelGrid>

                        </p:panel>

                    </p:panel>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
