<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:body>
<ui:composition template="./templates/fireTemplate.xhtml">
<ui:define name="content">

<p:panel header="Submitted">
    <h:outputText value="Submission submitted successfully" />
</p:panel>

</ui:define>
</ui:composition>
</h:body>
</html>
