<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:metadata>
    <f:viewParam name="assignId" value="#{subBean.assignId}"
                 valueChangeListener="#{subBean.viewParamChanged}" />
</f:metadata>

<h:body>
<ui:composition template="./templates/fireTemplate.xhtml">
<ui:define name="content">

<p:growl sticky="true" autoUpdate="true"/>

<p:panel header="Submission - #{subBean.assignment.title}">

    <!-- Show error message -->
    <c:if test="#{not subBean.subissionAllowed}">
        <h:outputText value="It is not possible to make a submission."/>
        <br/>
        <br/>
        <h:outputText value="#{subBean.blockReason}."/>
        <br/>
        <br/>
    </c:if>

    <c:if test="#{subBean.subissionAllowed}">
        <!-- Show submission page if sub is allowd -->
        <h:form enctype="multipart/form-data">

            <h:outputText value="No files uploaded"
                          rendered="#{empty subBean.uploadedFiles}" />

            <p:dataList var="file" value="#{subBean.uploadedFiles}"
                        id="fileList" type="definition"
                        rendered="#{not empty subBean.uploadedFiles}">

                <h:outputText value="#{file.fileName}  " />
                <p:commandButton icon="ui-icon-circle-close"
                                 process="@form"
                                 actionListener="#{subBean.deleteFile(file)}"
                                 update="@form" />
            </p:dataList>
            <br/>

            <p:commandButton value="Clear" actionListener="#{subBean.clearUploadedFiles()}"
                             update="fileList"/>
            <br/>
            <br/>

            <p:commandButton value="Submit"
                             action="#{subBean.submit()}" />
            <br/>
            <br/>

            <p:fileUpload fileUploadListener="#{subBean.handleFileUpload}"
                          showButtons="true"
                          mode="advanced"
                          update="@form"
                          multiple="true"
                          sizeLimit="100000"
                    />

        </h:form>
    </c:if>

</p:panel>



</ui:define>
</ui:composition>
</h:body>
</html>
