<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <h:outputStylesheet name="default.css" library="css" />
        <title>Fire!</title>
    </h:head>

    <h:body>
        
        <div id="page">
            
            <div id="top">
                <ui:include src="fireHeader.xhtml"/>
            </div>
            
                <div id="content" class="center_content">
                    <ui:insert name="content"></ui:insert>
                </div>
          
<!--            TODO: This hovers over my text instead of sitting at the bottom-->
           <div id="bottom">
                <ui:include src="fireFooter.xhtml"/>
            </div>
            
        </div>
    </h:body>

</html>
