<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:s="http://shiro.apache.org/tags"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:body>
        
        <ui:composition>

            <s:authenticated>

                <h:form>
                    <p:tabMenu activeIndex="#{navigation.tab}">

                        <p:menuitem value="Home" action="#{navigation.navigateTo('index')}" icon="ui-icon-home"/>
                        <p:menuitem value="Assignments" action="#{navigation.navigateTo('assignmentList')}" icon="ui-icon-lightbulb"/>
                        <p:menuitem value="Grading" action="#{navigation.navigateTo('grading')}" icon="ui-icon-lightbulb"/>
                        <p:menuitem value="Groups" action="#{navigation.navigateTo('groups')}" icon="ui-icon-person"/>
                        <p:menuitem value="Account" action="#{navigation.navigateTo('settings')}" icon="ui-icon-gear"/>
                        <p:menuitem value="Help" action="#{navigation.navigateTo('help')}" icon="ui-icon-help"/>
                        
                        <s:hasRole name="ADMIN">
                            <p:menuitem value="Test" action="#{navigation.navigateTo('test')}" icon="ui-icon-script"/>
                            <p:menuitem value="Administration" action="#{navigation.navigateTo('admin')}" icon="ui-icon-locked"/>
                        </s:hasRole>

                    </p:tabMenu>

                </h:form>

                <div style="position: absolute; top: 5px; right: 20px;">
                    <h:form>
                        <p:menuButton value="#{templateBean.activeUser.fullName}">
                            <p:menuitem value="Account settings" outcome="settings" icon="ui-icon-person"/>
                            <p:separator/>
                            <p:menuitem value="Logout" action="#{logoutBean.doLogout()}"/>
                        </p:menuButton>
                    </h:form>
                </div>

            </s:authenticated>

        </ui:composition>

    </h:body>
    
</html>