<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:s="http://shiro.apache.org/tags">

    <h:body>
        
        <ui:composition>
            
            <h:panelGrid columns="2" class="navigation_table">
                
                <h:outputLabel value="Brought to you by the Fire team"/>
                
                <s:authenticated>
                    <h:link value="Send us your feedback!" outcome="contact"/>
                </s:authenticated>  
                
            </h:panelGrid>
            
        </ui:composition>     
        
    </h:body>
</html>
