<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <h:outputStylesheet name="default.css" library="css" />
        <title>Fire!</title>
    </h:head>

    <h:body>

            <div id="top">
                <ui:include src="fireHeader.xhtml"/>
            </div>

            <div style="margin: 40px 100px 40px 10px">
                <h:panelGrid columns="2" cellpadding="20px">

                    <ui:insert name="left"></ui:insert>

                    <ui:insert name="content"></ui:insert>

                </h:panelGrid>
            </div>

            <div id="bottom">
                <ui:include src="fireFooter.xhtml"/>
            </div>
            
    </h:body>

</html>
