#page {
    height: 100%;
    margin: 0;
    padding: 0;
}

#top {
    position: static;
    color: #000000;
    border-radius: 5px;

}

#bottom {
    position: relative;
    background-color: #dddddd;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    bottom: 10px;
    alignment-adjust: central;
}

#left {
    float: left;
    left: 100px;
    background-color: #ece3a5;
    padding: 5px;
    width: auto;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: white;
    padding: 10px;
    border: none;
    margin: 40px 100px 40px 100px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 40px 100px 40px 100px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: black;

    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;

}

.navigation_image {

    height: 20px;
}

.navigation_spacer {

    position: absolute; 
    right: 20px; 
    top: 4px;
}

table.navigation_table td {

    padding:10px;
    font-size: medium;
}

table.left_menu_layout td {

    padding:15x;
}

.img-menu-index {
    background-image: url('../images/home.png');
}

.contact_grid, .contact_grid tr, .contact_grid td {
    margin: 20px 20px 20px 20px;
    border: none;
}



