html, body {
    margin: 0;
    padding: 0;
    height: 100%;    
}

body {
    background-color: #ffffff;
    font-size: 13px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000; 
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  text-decoration : underline;
}

.light {
    border-style: none;
}

.light_header {
    border-style: none;
    margin: 20px 20px 20px 20px; 
    font-weight: bolder
}

.light_text {
    border-style: none;
    margin: 20px 20px 20px 40px; 
    font-weight: normal;
}

